* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.search-order-bg,
.list-orders {
  position: relative;
  top: 50px;
  width: 100%;
}
.list-orders p,
.search-order-bg p,
.info-order-bg p {
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.list-orders p {
  margin-bottom: 10px;
}
.search-order-bg input,
.search-order-bg label {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.search-order-bg > form {
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
  border: solid;
  margin: 0 auto;
}
.search-order-bg input {
  padding: 5px;
  border-radius: 5px;
  border: solid;
  outline: none;
}
.search-order-bg button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  width: 45%;
}
.search-order-bg button:hover {
  background-color: rgb(70, 69, 69);
  cursor: pointer;
}
.list-orders {
  top: 70px;
  text-align: center;
  padding: 10px 40px;
  font-size: 12px;
  font-weight: 900;
  border: solid;
  border-radius: 5px;
}
li {
  list-style: none;
  overflow: hidden;
}
.list-orders .top-list ul,
.list-orders .order ul {
  display: flex;
  width: 100%;
  border: none;
}
.orders > li:not(:last-child) {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.top-list {
  background-color: #272424;
  color: white;
}
.order ul li {
  padding: 5px;
}
.order ul:hover{
  background-color: #b0adad;
}
.order ul li:nth-child(1) {
  width: 10%;
}
.top-list ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.order ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.orders > li:last-child {
  border: solid 1px black;
}
.top-list ul li:nth-child(1) {
  line-height: 30px;
  width: 10%;
}
.top-list ul li:nth-child(2) {
  line-height: 30px;
  width: 20%;
}
.top-list ul li:nth-child(3) {
  line-height: 30px;
  width: 20%;
}
.top-list ul li:nth-child(4) {
  width: 20%;
  line-height: 30px;
}
.top-list ul li:nth-child(5) {
  width: 15%;
  line-height: 30px;
}
.top-list ul li:nth-child(6) {
  width: 15%;
  line-height: 30px;
}

.order ul li:nth-child(1) {
  width: 10%;
}
.order ul li:nth-child(2) {
  width: 20%;
}
.order ul li:nth-child(3) {
  width: 20%;
}
.order ul li:nth-child(4) {
  width: 20%;
}
.order ul li:nth-child(5) {
  width: 15%;
}
.order ul li:nth-child(6) {
  width: 15%;
}
.list-orders button {
  border: none;
  padding: 2px;
  margin-top: 5px;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}
.search-order-bg label {
  font-weight: bold;
}
#date-begin,
#date-end {
  margin-top: 10px;
  font-weight: bold;
  height: 30px;
}
.list-orders .order ul li:not(:last-child) {
  display: flex;
  align-items: center;
}
.cancel-order-active {
  background-color: red;
  cursor: pointer;
}
.list-page {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.list-page li {
  user-select: none;
  border: solid;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.list-page .page-current {
  background-color: #272424;
  color: white;
}
@media (max-width: 1023px) {
  .list-orders {
    padding: 10px 0;
  }
}
.notification .bx-check {
  border-radius: 50%;
  border: solid white;
  background-color: white;
  color: rgb(10, 199, 10);
  margin-right: 3px;
}
.notification {
  visibility: hidden;
  position: fixed;
  height: 45px;
  z-index: 11;
  top: 11px;
  right: 100px;
  color: white;
}
.notification div {
  visibility: hidden;
  padding: 10px;
  animation: showNotification 3s linear;
}
.info-order-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 11;
  background-color: #79787899;
}
.info-order-bg .info-order-box {
  width: 500px;
  background-color: white;
  font-size: 20px;
  padding: 20px;
  color: red;
  border-radius: 10px;
  margin: 150px auto;
  animation: show-info-order 0.25s linear;
}
.info-order-bg .infor {
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  width: 100%;
}
.info-order-bg .info-order-box .infor span:nth-child(1) {
  width: 35%;
}
.info-order-bg .infor span:nth-child(2) {
  color: black;
  width: 70%;
}
.info-order-bg i {
  float: right;
  color: black;
  font-size: 30px;
}
.hide {
  display: none;
}
@keyframes show-info-order {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.not-found {
  font-size: 25px;
  padding: 50px;
  border: solid;
  border-radius: 10px;
}
@media (max-width: 650px) {
  .order ul li {
    overflow-x: scroll;
    padding: 0px;
  }
}
.detail_orders {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: auto;
  width: 700px;
  background-color: rgb(242, 242, 242);
  z-index: 1000; 
  padding-bottom: 30px;
  box-shadow: 100px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif; /* Đặt font chữ */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
} 
.detail_orders h3{
  font-family: 'Poppins', sans-serif; /* Đặt font chữ */
  font-size: 24px; /* Đặt kích thước chữ */
  font-weight: 450; /* Đặt độ đậm của chữ */
  color: #000000; /* Đặt màu chữ */
  text-align: left; /* Căn giữa chữ */
  margin: 5px 0px 0px 5px; /* Khoảng cách dưới */
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.detail_orders p{
  font-size: 15px; /* Đặt kích thước chữ */
  font-weight: 450; /* Đặt độ đậm của chữ */
  color: #000000; /* Đặt màu chữ */
  text-align: left; /* Căn giữa chữ */
  margin: 5px 0px 0px 16px; /* Khoảng cách dưới */
  color: #677788;
}
.detail_orders table {
  width: 95% !important;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 2.5%;
}
.detail_orders table tr th{
  text-transform: uppercase;
  border-spacing: 0;
  color: white;
  background-color: #132144;
  border: 1.6px solid #132144;

  padding: 8px;
  font-weight: 600;
  font-size: .75rem;
}
.detail_orders table tr td{
  /* border: 1px solid #132144; */
  border-top: .0625rem solid rgba(231, 234, 243, .7);
  padding: 8px;
  text-align: left;
  color: #677788;
}
/* .detail_orders 
{ 
    table tr th, td {
    border-color: #132144;
    padding: 8px;
    text-align: left; 
  }
} */
.totalAmout{
  margin-top: 20px;
  float: right;
  margin-right: 16px;
  color: #677788;
}
