* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.list-brands {
  position: relative;
  width: 100%;
}
.list-brands p {
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.list-brands {
  top: 70px;
  text-align: center;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 900;
  border: solid;
  border-radius: 5px;
}
li {
  list-style: none;
  overflow: hidden;
  height: 40px;
  line-height: 30px;
}
.list-brands .top-list ul,
.list-brands .brand ul {
  display: flex;
  width: 100%;
  border: none;
}
.brands > li:not(:last-child) {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.top-list {
  background-color: #272424;
  color: white;
}
.top-list ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.brand ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.brands > li:last-child {
  border: solid 1px black;
}
.top-list ul li:nth-child(1) {
  line-height: 30px;
  width: 10%;
}
.top-list ul li:not(:first-child) {
  line-height: 30px;
  width: 30%;
}
.brand ul li:nth-child(1) {
  width: 10%;
}
.brand ul li:not(:first-child) {
  width: 30%;
}
.brand:last-child {
  background-color: #999;
  color: #272424;
}
.brand:last-child ul li:first-child {
  width: 40%;
}
.brand:last-child ul li:not(:first-child) {
  width: 30%;
}
.search-date-bg {
  position: relative;
  top: 70px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.search-box input {
  border: solid;
  border-radius: 5px;
  padding: 5px;
}
.search-box label {
  margin-left: 10px;
}
.search-box button {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  user-select: none;
}
.search-box button:hover {
  background-color: #272424;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .list-brands {
    top: 130px;
  }
  .search-date-bg {
    top: 120px;
  }
}
