.sup-header_table-data {
    background-color: rgb(45, 44, 86);
    color: white;
    margin: 5px;
}
.sup-btn{
    display: flex;
    padding: 4px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(30, 28, 83);
    color: white;
    margin-left: 50px;
}
.sup-nav{
    display: flex;
    justify-content: flex-end
}