*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxdscuahang{
    background-image: url("https://media.gettyimages.com/id/1285643751/photo/airplane-departing-from-smart-phone-3d-illustration.jpg?s=1024x1024&w=gi&k=20&c=VSGiMDNYed4d7lTgR3Sa6STAD_JAhkl6rxD2uTzz-9I=");
    background-size: cover;
    width: 90%;
    height: 80%;
    overflow: hidden;
    display: flex;
    color: white;
    flex-direction: column;
}
.boxdscuahang h2{
    margin: 30 0 30 70;
}
.boxdscuahang p{
    width: 30%;
    margin-left: 20px;
}
.boxdscuahang b{
    margin-top: 30px;
    margin-left: 20px;
}