* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  overflow: hidden;
}
.top-list ul,
.item ul {
  display: flex;
}
.list-products {
  position: relative;
  top: 40px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px;
  padding: 10px 0;
}
.list-products > p {
  font-size: 40px;
}
.products {
  margin: 10px auto;
  max-width: 90%;
}
.products > li:not(:last-child) {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.top-list ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.item ul > li:not(:last-child) {
  border-right: 1px solid black;
}
.products > li:last-child {
  border: solid 1px black;
}
.top-list ul li:nth-child(1) {
  line-height: 30px;
  width: 10%;
}
.top-list ul li:nth-child(2) {
  line-height: 30px;
  width: 10%;
}
.top-list ul li:nth-child(3) {
  line-height: 30px;
  width: 40%;
}
.top-list ul li:nth-child(4) {
  width: 15%;
  line-height: 30px;
}
.top-list ul li:nth-child(5) {
  width: 20%;
  line-height: 30px;
}
.top-list ul li:nth-child(6) {
  width: 5%;
  line-height: 30px;
}
.item ul li:nth-child(1) {
  width: 10%;
}
.item ul li:nth-child(2) {
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.item ul li:nth-child(3) {
  width: 40%;
}
.item ul li:nth-child(4) {
  width: 15%;
}
.item ul li:nth-child(5) {
  width: 20%;
}
.item ul li:nth-child(6) {
  width: 5%;
}
.item ul li {
  height: 100px;
  line-height: 50px;
}
li img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.item ul li p {
  min-width: 100%;
  max-height: 30px;
}
.list-page {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.list-page li {
  user-select: none;
  border: solid;
  padding: 10px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.list-page .page-current {
  background-color: #272424;
  color: white;
}
.price-origin {
  text-decoration: line-through;
}
li button {
  display: block;
  width: 90%;
  height: 30px;
  margin: 10px auto;
  border: none;
}
.delete-product {
  background-color: red;
}
.edit-product {
  background-color: blue;
}
@media (max-width: 1023px) {
  .products {
    margin: 10px auto;
    max-width: 100%;
  }
}
